.layoutall{
}
.calcall{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.calcall input{
    padding: 3px;
    margin: 5px;
}
.calcall button{
    margin: 4px 50px;
    
    padding: 2px;

}
.gradeall{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: space-arount; 
     margin-left: 30px;
}
.gradeall .gradeleft{
    flex-grow: 1;
    text-align: center;
}
.gradeleft input{
    padding: 5px;
    margin: 2px;
}
.gradeall .graderight{
    flex-grow: 1;
    text-align: center;
}
.grade{
    border:1px solid blue;
    border-radius: 8px;
    margin:5px;
    padding: 5px;
    
}


.loginall{
    margin-left: 30px;
}

.user{
    display: flex;
    width: 30%;
    align-items: center;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.user .user-name{
    flex-grow: 1;
}
.user .user-pass{
    color: blue;
}
.login-form input{
    margin: 5px;
    padding: 5px;
}